# Example secret file - DO NOT commit actual secrets to Git
# Create actual secrets using: kubectl create secret generic db-credentials --from-literal=username=<user> --from-literal=password=<pass>

apiVersion: v1
kind: Secret
metadata:
  name: db-credentials
  namespace: production
type: Opaque
stringData:
  username: "devops_user"
  password: "CHANGE_ME_IN_PRODUCTION"
