apiVersion: v1
kind: ConfigMap
metadata:
  name: backend-config
  namespace: production
data:
  db_host: "postgres-service"
  db_port: "5432"
  db_name: "devops_app"
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: frontend-config
  namespace: production
data:
  api_url: "http://backend:5000/api"
