version: '3.8'

services:
  jenkins:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: jenkins-server
    user: root
    ports:
      - "8080:8080"
      - "50000:50000"
    volumes:
      - jenkins_home:/var/jenkins_home
      - /var/run/docker.sock:/var/run/docker.sock
      - ./casc.yaml:/var/jenkins_home/casc.yaml
      - ../../:/project
    environment:
      - CASC_JENKINS_CONFIG=/var/jenkins_home/casc.yaml
      - JAVA_OPTS=-Djenkins.install.runSetupWizard=false
    networks:
      - jenkins-network

  docker:
    image: docker:dind
    container_name: jenkins-docker
    privileged: true
    networks:
      - jenkins-network
    volumes:
      - jenkins-docker-certs:/certs/client
      - c:/games/java code/cicd-aws:/project
    environment:
      - DOCKER_TLS_CERTDIR=/certs

networks:
  jenkins-network:
    driver: bridge

volumes:
  jenkins_home:
  jenkins-docker-certs:
